* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.change-mode {
  margin-left: 700px;
  background-color: #000000;
  color: #ffffff;
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 50px;
}